.trial-main {
	max-width: 800px;
}

.consent-main {
        padding: 10px 30px;
}

.consent-text h3 {
        text-align: center;
        font-weight: normal;
        font-size: 30px;
        padding: 15px 0;
        margin: 0;
        border-bottom: 1px solid #ddd;
}

.cscroller {
	margin: 10px 0px;
        padding: 5px 10px;
        overflow: auto;
	max-height: 80vh;
}

.cscroller span {
	font-size: 22px;
	text-align: center;
	margin: 0;
	padding: 0;
}

.cscroller p {
	text-align: left;
	font-size: 18px;
	margin: 0;
	padding: 0;
}

#confirm {
        position: fixed;
        left: 50%;
        top: 50%;
        width: auto;
        height: auto;
        display: none;
}

#confirm.enabled {
        display: block;
}

.consent-footer {
        text-align: right;
}

.consent-footer p {
	font-size: 16px;
	margin-right: 15px;
	display: inline-block;
}

.consent-footer button, .consent-footer p {
	transition: opacity 0.4s;
	-webkit-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	-ms-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
}
