.points-main {
	position: fixed;
	left: 20px;
	top: 20px;
	width: auto;
	height: auto;
	padding: 20px;
	border-radius: 5px;
	background-color: white;
	-webkit-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
	text-align: center;
	z-index: 999;
}

.points-header, .points-subtitle {
	padding: 5px;
}

.points-header h2 {
	font-size: 24px;
	line-height: 24px;
	color: #555;
}

.points-points {
	padding: 15px;
}

.points-points h2 {
	font-size: 50px;
	line-height: 50px;
	font-weight: normal;
}

.points-subtitle p {
	color: #666;
	font-size: 16px;
}
