.points-main {
	position: fixed;
	left: 20px;
	top: 20px;
	width: auto;
	height: auto;
	padding: 20px;
	border-radius: 7px;
	background-color: rgb(150, 150, 250);
	background-color: rgba(50, 50, 200, 0.4);
	border: 1px solid #aea;
	text-align: center;
	z-index: 999;
}

.points-header, .points-subtitle {
	padding: 5px;
}

.points-header h2 {
	font-size: 24px;
	color: #555;
}

.points-points {
	padding: 15px;
}

.points-points h2 {
	font-size: 40px;
}

.points-subtitle p {
	color: #666;
	font-size: 16px;
}
