.start-main {
        position: relative;
        max-width: 1000px;
}

.start-text {
        padding: 30px;
        font-size: 24px;
        line-height: 30px;
        text-align: left;
}

.start-btn button:hover {
        background-color: #145614;
}

